.header-container {
  width: 100%;
  background: #101B7A;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0; 
  padding: 0; 
  display: block; 
}

.header-container h3 {
  text-align: start;
  margin: 0; 
  padding: 10px 20px; 
}

.header-container {
  width: 100%;
  background: #101B7A;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 15px 0; 
}

.header-container h3 {
  text-align: start;
  margin: 0;
  padding: 0 20px; 
}